@import url('https://fonts.googleapis.com/css?family=Audiowide|Josefin+Sans:100|Rambla&display=swap');


html{
    scroll-behavior: smooth;
}
body{
    color:#283655 !important ;
    background-color: #f7faff !important;
    font-family: "Rambla", sans-serif;
}
h2, h3 {
    font-family: "Audiowide", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}
li{
    list-style-type:none ;
}


/********************* HEADER ********************/

.navbar {
    background-color: #fafafa;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}
.navbar-nav {
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}
header{
    padding-bottom: 80px;
    text-align: center;
    
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}
h1 {
    padding: 90px 0 10px 0;
    font-family: "Josefin Sans", sans-serif ;
    font-size: 4em;
    text-transform: uppercase;
}
#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}
.presentation {
    height: 240px;
    margin-top:  20px;
}
.infos {
    border: 1px solid #b3aca7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.photo {
    border: 1px solid #b3aca7;
    position: relative;
}
.photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 80%;
    border-radius: 3px;
    box-shadow: 0 0 6px #111;
}
header .button {
    margin-top:45px ;
}
header .button a {  
    padding: 20px 80px;  
    border: 1px solid #b3aca7;
    width: 300px;
}
header .button:hover a {
    background: #b3aca7;
    color:  #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
} 


/******************** CENTRE *********************/

#centre {
    background: linear-gradient(178deg,rgba(205,204,202,0.13) 50%, rgba(208,208,184,0.18) 100%, rgba(205,196,196,0.08) 100%, rgba(241,233,233,0) 30%);
    margin-top: -2px;
}


/************************* LANGAGES ************************/

#langages {
    padding: 80px 80px 80px 50px;
    margin: 3px 0 0 7%;
    height: 620px;
    width: 47%;
    max-width: 640px;
    background: linear-gradient(130deg,rgba(241,163,19,0.69) 40%, rgba(246,248,54,0.57) 60%, rgba(243,242,160,0.96) 600%, #f1e9e9 30%);
    clip-path: polygon(0 6%, 93% 0, 87% 100%, 0 93%);

}

.bar {
    padding: 10px 0 4px 0;
    letter-spacing: 0.1em;
}



/********************* FORMATION *********************/

#formation {
    position: relative;
    top: -200px;
    float: right;
    margin-right: 7%;
    padding: 80px 0 60px 50px;
    width: 45%;
    max-width: 660px;
    background: linear-gradient(19deg, rgba(0,180,219,0.69)0%, #0083b0 80%);
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 90%);

}
#apprentissage {
    padding: 20px 0 0 10%;

}
#afpa {
    padding: 50px 0 0 35%;
}
#formation h4 {
    font-weight:  bold;
    letter-spacing:  0.08em;
    padding-bottom: 10px;
    color: #005978;
    text-shadow: -1px -1px 1px #35b4d5;
}
.counter {
    display: flex;
    text-align: center;
}
.data {
    border: 1px solid #35b4d5;
    width: 170px;
    margin: 0 4%;
    box-shadow: 0 0 5px;
    padding: 5px 20px;
}
.counter-value {
    font-size: 2em;
}
.data span {
    font-size: 1.2em;
}


/*********************** PARCOURS *****************************/

#parcours {
    max-width: 800px;
    margin: 640px auto 180px auto;
    padding: 4px 30px 100px 30px;
    background: url(media/parcours.jpg) no-repeat fixed 50% 50%;
    background-size: cover ;
    border-radius: 8px;
    box-shadow: -1px -1px 8px #283655;
}
#parcours h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
}
#parcours h4 {
    font-size: 1.6em;
    color: #ff4e50;
    margin-left: 20px;
}
#parcours h6 {
    font-style: italic;
    color: #edca21;
    margin-left: 20px;
}
#parcours p {
    line-height: 1.9em;
}
.timeline {
    border-top: 2px solid;
    border-image: linear-gradient(to right, #f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 30px;
    position: relative;
}
.timeline:nth-child(1):after {
    content: "";
    width: 0; height: 1px; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 9px solid red;
    position: absolute;
    top: -10px;
    right: -10px;
    box-sizing: content-box !important;
}
.timeline:nth-child(1) {
    border-bottom: 3px solid;
    border-top: none;
    width: 80%;
}
.timeline:nth-child(2) {
    border-top: none;
    
    
}
.timeline:nth-child(even) {
    border-left:3px solid ;
    padding-right: 0;
}
.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}


/********************* PORTEFOLIO **********************/

#portfolio {
    margin: 100px 2% 0 2%;
    padding: 40px 10px 60px 40px;
    background-color: rgba(179,172,167,0.08);
    box-shadow:  0px 0px 1px #a8a8a9;
}
#portfolio h3 {
    font-size: 3em;
    padding-bottom: 15px;
}
.projet {
    display: flex;
}
.projet:nth-child(1) {
    margin-left: 1%;
}
.projet:nth-child(2) {
    margin-left: 4%;
}
.cadre {
    position: relative;
    padding: 40px 20px 25px 0;
    width: 60%;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 8px;
    color: #aca49c;
    text-align: center;
}
.img-container {
    height: 250px;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #111;
}
.img-container img {
    position: relative;
    height: 100%;
    margin: 0 auto;
}
.img-container:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
    filter: contrast(150%);
    transition: 0.3s;
}
.cadre::before, .cadre:after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 1px solid;
    transition: all 0.8s ease;
    border-radius: 2px;
    z-index: -1;
}
.cadre::before {
    top: 15px;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cadre:after {
    bottom: 0px;
    right: 15px;
    border-top-color: transparent;
    border-left-color: transparent;
}
.cadre:hover::before, .cadre:hover:after {
    border-color: #aca49c;
    width: 100%;
    height: 100%;
}
.legende {
    max-width: 350px;
    padding: 50px 0 0 20px;
    opacity: 0;
    transition: 5s ease-in-out;
}
.projet:hover .legende {
    opacity: 1;
    transition: 2s ease;
}
.legende a {
    padding: 16px 10px 10px 10px;
    margin-top: 20px;
    font-size: 1.1em;
    float: right;
    border-radius: 3px;
    background: #e2dedb;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

}
.legende a:active {
    animation: shadow-push 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

}

@keyframes shadow-pop-br {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      transform: translateX(-5px) translateY(-5px);
    }
  }
  
  @keyframes shadow-push {
    100% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    0% {
      box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      transform: translateX(-5px) translateY(-5px);
    }
  }

  /************************* HOBBIES *********************/

  #hobbies {
    padding: 250px 50px 100px 50px;
    margin: 0 0 -90px 0;
    clip-path: polygon(0 21%, 100% 31%, 100% 95%, 0% 100% );
    background: #ffbb00;
  }
  #hobbies h3 {
    transform: rotate(4.2deg);
    font-size: 3em;
    text-shadow: -1px 1px 0px #375e97;
  }
  .pictures {
    display: flex;
    justify-content: center;
  }

  .flip-box-back div {
    margin: 0 auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
  .flip-box-back p {
    text-transform: uppercase;
    padding: 10px;
    font-size-adjust: auto ;
  }
  .flip-box-back {
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  /*********************** FOOTER ****************************/

  footer {
    background: url(media/footer.jpg) 50% 0% no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding: 160px 50px 5 50px;
  }
  footer h3 {
    padding: 150px 0 60px 0;
    font-size: 2.5em;
  }
  .footer-icons {
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    max-width: 60%;
  }
  .network {
    font-size: 4em;
    border: 1px solid #b3aca7;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
    border-radius: 50%;
  }
  .network:hover, textarea:hover, input:hover, .form-button:hover {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
  }
.form-container {
    padding-top: 20px;
}
#reused_form {
    position: relative;
    margin: 50px auto;
}
input, textarea {
    font-size: 0.85em;
    width: 470px;
    height: 50px;
    padding: 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
}
textarea {
   
    height: 110px;
    max-height: 110px;
    border-bottom: solid 1px #b3aca7;
    resize: none;
}
input::placeholder, textarea::placeholder, input:focus::placeholder, textarea:focus::placeholder {
    color: #aca49c;
}
input:hover::placeholder, textarea::placeholder, input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #e2dedb;
}
.form-button {
    background: transparent;
    border: solid 1px #b3aca7;
    padding: 20px 75px;
    margin: 14px 0 -20px 0;
}
.form-container h4 {
    font-size: 2em;
}
#error_message {
    color: red;
    border: 1px solid red;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 15px 8px 15px;
    box-shadow: 0 0 5px red;
}
#success_message {
    color: green;
    border: 1px solid green;
    max-width: 400px;
    margin: 150px auto;
    padding: 50px;
    box-shadow: 0 0 5px green;
}
  .arrow {
    /*width: 50px;*/
    margin: -20 auto;
    padding-top: 15px;
    animation: arrow linear 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    38% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
  }
  .arrow a {
    font-size: 3em;
    border: none;
    color: #726659;
  }
  .arrow:hover i {
    transform: scale(1.6);
    transition: 0.5s ease-in-out;
    color: #726659;
  }
  footer p {
    font-size: 0.9em;
    letter-spacing: 0.3em;
  }

  /******************** MEDIA QUERIES *********************/

  @media screen and (max-width: 1500px) {
    .infos h5, .typed {
        font-size: 0.9em;
    }
    #langages {
        margin-left: 1%;
    }
    #formation {
        margin-right: 1%;
    }
    .network {
        font-size: 3em;
        padding: 10px 20px;
    }
    #portefolio h3 {
        margin-left: 1%;
      }
    
  }
  

  @media screen and (max-width: 1000px) {
    .infos h5, .typed {
        font-size: 0.9em;
    }
    #langages {
        margin-left: 2%;
    }
    #formation {
        margin-right: 2%;
    }
    .network {
        font-size: 2em;
        padding: 10px 20px;
    }
    #apprentissage {
        padding: 20px 0 0 7%;
    
    }
    #afpa {
        padding: 50px 0 0 15%;
    }
  }

  @media screen and (max-width:838px) {
    #langages h3, #formation h3 {
        font-size: 1.5em;
    }
    #hobbies h3, footer h3 {
        font-size: 2em;
    }
    #apprentissage h4, #afpa h4 {
        font-size: 1.3em;
    }
  .flip-box-back p {
    padding: 10px 0px;
    }
    .cadre {
        margin-left: 3%;
    }
    
  }
  @media screen and (min-width:768px) {
    .projet .fa.fa-code {
        display: none ;
    }
  }

  @media screen and (max-width:767px) {
    #navbar {
        display: none ;
    }
    h1, h2 {
        font-size: 2em;
    }
    #langages {
        width: 80%;
        margin-left: 10%;
    }
    #formation {
        margin: 210px 0 0 10%;
        width: 80%;
        float: none;
        display: block;
    }
    .counter-value {
        font-size: 0.8em;
    }
    .data-span {
        font-size: 0.8em;
    }
    .legende p {
        display: none;
    }
    #apprentissage {
    padding: 20px 0 0 6%;

    }
    #afpa {
        padding: 50px 0 0 12%;
    }
    header{
        height: 750px;
    }
    .presentation {
        height: 180px;
        margin-top:  20px;

    }
    .photo, .photo img {
        font-size: 1.5em;
    }
    .typed {
        display: none;
    }
    .photo img {
        max-width: 60%;
    }
    #parcours {
        margin: 0 auto 130px auto;
    }
    .projet .fa.fa-github {
        display: none ;
    }    
    input, textarea {
        width: 300px;
    }
   
   
  }

  @media screen and (max-width:520px) {
    h1 {
        padding-top: 20px;
    }
    h3 {
        font-size: 1em !important;
    }
    #apprentissage, #afpa {
        padding: 50px 0 0 0 ;
    }
    .projet:nth-child(2) {
        margin-left: 0;
    } 
    .legende {
        opacity: 1;
    }
    #hobbies {
        margin-top: -80px;
    }
    .flip-box-back p {
        font-size: 0.6em;
    }
    .cadre::before, .cadre::after {
        border-radius: 0px;
        border: 0px;
        z-index: 0;
    }  
    .legende h4 {
        font-size: 1.2em;
    }

   .flip-box {
    max-width: 200px;
    height: 200px;
   }
  }